body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #fefefe;
}
section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}
button {
  margin: 5px;
  padding: 6px 12px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 5px;
}